%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => "#myNavbar", "data-toggle" => "collapse", :type => "button"}
        %span.glyphicon.glyphicon-menu-hamburger
      .navbar-left.logo
        %a{:href => root_path}
          %img{:src => "/assets/gevent_logo.png", style: 'width:60px;padding-top: 3px;'}>
      .brand.brand-name.navbar-left
        %div>
        GEvent
    #myNavbar.collapse.navbar-collapse.navbar-left
      %ul.nav.navbar-nav
        %li
          %a{:href => "#"} Home
        %li
          %a{:href => group_events_path } Group Events
       